* {
    background: #D1D1D1;
}

/* Estilos gerais do corpo */
body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    padding: 0;
}

/*--------------------------------------------------------------------HEADER-------------------------------------------------------------------------------*/
header {
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px 20px;
    width: auto;

}

header div {
    display: flex;
    gap: 40px;
    /* Espaçamento entre os elementos */
}

header div:last-child {
    justify-content: right;
    display: flex;
    align-items: right;
    gap: 20px;
    /* Espaçamento entre os elementos */
}

header strong {
    position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    color: #000;
    font-family: "Passion One";
    font-size: 30px;
    /* Tamanho do texto */
}

header a {
    display: inline-flex;
    /* Garante que os elementos estejam na mesma linha */
    align-items: center;
    /* Alinha verticalmente */
    text-decoration: none;
    /* Remove o sublinhado do texto */
    color: black;
    /* Cor do texto */
    font-size: 16px;
    /* Tamanho do texto */
    margin: 0 10px;
    /* Espaçamento entre os elementos */
}

header a:hover {
    color: #218A38;
    /* Destaque ao passar o rato */
}

/* Popup Styles */
.popup {
    display: none;
    /* Inicialmente oculto */
    position: absolute;
    top: 50px;
    right: 20px;
    border: 2px solid #4CAF50;
    /* Aqui estamos adicionando uma borda verde */
    border-radius: 8px;
    /* Bordas arredondadas */
    padding: 15px;
    width: 200px;
    z-index: 1000;
}

.popup-content {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.popup-content a {
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.popup-content a:hover {
    color: #218A38;
}

/*--------------------------------------------------------------------MAIN-------------------------------------------------------------------------------*/

.select-container {
    height: fit-content;
    padding: 20px;
    margin-left: 10%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.select-container > div {
    flex: 1 1 calc(33.33% - 20px); /* dois por linha com espaço */
    box-sizing: border-box;
}

.select-container select {

    padding: 10px;
    border: #D1D1D1;
    background-color: #d9d9d9;
}

select, input[type="text"] {
    width: 50%;
    padding: 5px;
}

.search-bar input {

    padding: 10px;
    border: #D1D1D1;
    background-color: #d9d9d9;
}

.row1 {
    display: flex;
    background-color: #d9d9d9;
    margin-bottom: 10px;


}

.table-container {
    padding: 10px;
    margin: 20px 10% 50px 10%;
    background-color: #D1D1D1;
}

.column {
    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;
}

.column-edit-icon {
    flex: 30%;
    background-color: #d9d9d9;
    text-align: center;
}
.column-edit-icon-top{
    align-content: center;
    flex: 30%;
    background-color: #d9d9d9;
    text-align: center;


}

.column-edit-icon-top label {
    background-color: #d9d9d9;
}

.column-delete-icon {
    flex: 30%;
    background-color: #d9d9d9;
    text-align: center;
}
.column-delete-icon-top{
    align-content: center;
    flex: 30%;
    background-color: #d9d9d9;
    text-align: center;


}

.column-delete-icon-top label {
    background-color: #d9d9d9;
}



.column-img {
    align-content: center;
    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;

}
.column-img-top{
    align-content: center;
    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;


}

.column-img-top label {
    background-color: #d9d9d9;
}

.column-description {
    align-content: center;

    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;
}

.column-description label {
    background-color: #d9d9d9;
}
.column-description1 {
    align-content: center;

    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;
}

.column-description1 label {
    background-color: #d9d9d9;
}

.column-description2 {
    align-content: center;

    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;
}

.column-description2 label {
    background-color: #d9d9d9;
}

.column-description3 {
    align-content: center;

    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;
}

.column-description3 label {
    background-color: #d9d9d9;
}

.column-description4 {
    align-content: center;

    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;
}

.column-description4 label {
    background-color: #d9d9d9;
}

.column-description5 {
    align-content: center;
    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;
}

.column-description5 label {
    background-color: #d9d9d9;
}

.column-description6 {
    align-content: center;
    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;
}

.column-description6 label {
    background-color: #d9d9d9;
}

.column-description7 {
    align-content: center;
    flex: 50%;
    background-color: #d9d9d9;
    text-align: center;
}

.column-description7 label {
    background-color: #d9d9d9;
}


button.btn-edit {
    border: #d9d9d9;
    background-color: #d9d9d9;
    margin-top: 33px;
    padding: 0%;
}



button.btn-update-stock {
    padding: 20px;
    border: #D1D1D1;
    background-color: #ffffff;
    margin-top: 22px;
    width: 60%;


}

.report-links {
    margin: 0px 10% 0px 10%;
    text-align: end;
    padding-right: 10px;

}




/* Estilos para o botão de adicionar utilizador */
.btn-add-product {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;

    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.btn-add-product:hover {
    background-color: #4CAF50;
}

/* Estilos para o botão gerar relatorio */
.btn-generate-pdf {
    background-color: #000000;
    color: white;
    padding: 10px 15px;
    margin-right: 10px;
    border: none;

    cursor: pointer;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 20px;
}

.btn-generate-pdf:hover {
    background-color: #4CAF50;
}


/* Estilos para a paginação */
.pagination-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.pagination a, .pagination span {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a:hover {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
}

.pagination .current-page {
    background-color: #4CAF50;
    color: white;
    border-color: #4CAF50;
    font-weight: bold;
}

.pagination-info {
    margin-top: 10px;
    margin-bottom:  10px;
    color: #666;
}


/* Estilos específicos para o modal de edição e adição */

/* Estilos para o modal */
.product-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* escurece o fundo */

    /* centralizar com flex */
    justify-content: center;
    align-items: center;

    /* scroll se necessário */
    overflow-y: auto;
    padding: 20px;
    box-sizing: border-box;
}

.product-modal-content {
    background-color: #D1D1D1;
    padding: 20px;
    width: 100%;
    max-width: 500px;
    text-align: center;
    position: relative;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}


.product-modal-close {
    float: right;
    font-size: 24px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    background-color: #D1D1D1;
}

.product-form-group {
    margin-bottom: 15px;
    background-color: #D1D1D1;
}

.product-form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: normal;
    background-color: #D1D1D1;
}

.product-form-group input,
.product-form-group select {
    width: 100%;
    padding: 8px;
    margin: 8px 0;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.product-form-buttons {
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.product-btn-submit {
    background-color: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.product-btn-submit:hover {
    background-color: #333;
}

.modal,
.user-modal {
    overflow-y: auto;
}

.product-form-row {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

.product-form-row .product-form-group {
    flex: 1;
}


/* Estilos para os pop-ups de confirmaçao */
.custom-popup {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1000;
}

.custom-popup .popup-content {
    background-color: #d9d9d9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    width: 300px;
    max-width: 90%;
    color: black;
    /* Posicionamento no topo da página */
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    margin: 0;
}

.custom-popup h3 {
    color: black;
    margin-top: 0;
    margin-bottom: 15px;
    text-align: center;
}

.custom-popup p {
    margin-bottom: 20px;
    color: black;
}

.popup-buttons {
    display: flex;
    justify-content: space-between;
}

.btn-confirm, .btn-cancel {
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.btn-confirm {
    background-color: #000000;
    color: white;
    border: 1px solid white;
}

.btn-cancel {
    background-color: #000000;
    color: white;
    border: 1px solid #cccccc;
}

.btn-confirm:hover {
    background-color: #4CAF50;
}

.btn-cancel:hover {
    background-color: #4CAF50;
}

@keyframes slideDown {
    from {
        top: -100px;
        opacity: 0;
    }
    to {
        top: 10px;
        opacity: 1;
    }
}

.custom-popup .popup-content {
    /* ... outras propriedades ... */
    animation: slideDown 0.3s ease-out forwards;
}
